@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the best web book store!</h1>
    <a asp-page="./Books/Index">List of our books</a>
</div>
